<div class="product-card" 
    data-price="{{price}}"
    data-rating="{{rating}}"
    data-title="{{title}}">
    <a class="thumbnail" href="/products/{{id}}">
        <img src="{{thumbnail}}" alt="{{title}}" loading="lazy" width="150" height="150">
    </a>
  <div class="product-info">
    <h3><a class="product-title" href="/products/{{id}}">{{title}}</a></h3>
    <div class = 'row'>
        <div class = 'col'>
            <p class="price"><s>€{{price}}</s><span class="discount"> €{{discountedPrice}}</span></p>
            <p class="discount">{{discountPercentage}}% OFF!!</p>
        </div>
        <div class = 'col'>
            <p><strong>Rating:</strong> {{rating}} / 5</p>
        </div>
    </div>
    <button  type="button" class="btn add-to-basket" onclick="AddToBasket({{id}}, `${{{title}}}`)">Add to Basket</button>
    
  </div>

    <ul class="tags">
      {{#each tags}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
</div>

