
<div class="product-card" >
    <a class="thumbnail" href="/products/{{id}}">
        <img src="{{thumbnail}}" alt="{{title}}" loading="lazy" width="150" height="150">
    </a>
  <div class="product-info">
    <h2><a class="product-title" href="/products/{{id}}">{{title}}</a></h2>
    <div class = 'row'>
        <div class = 'col'>
            <p class="price"><s>€{{price}}</s><span class="discount"> €{{discount}}</span></p>
        </div>
        <div class = 'col'>
            <p><strong>Rating:</strong> {{rating}} / 5</p>
        </div>
    </div>
  </div>

    <ul class="tags">
      {{#each tags}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
</div>

