
<main>
    <h3 class="text-center display-4">Hello {{user.firstname}}</h3>

    <h3 class="text-center">Your Details:</h3>
    
    <div class="container account-details">
        
        <div class="row">
            <div class="col">
                <h4>Email:</h4> {{user.email}}
            </div>
            
            
            <div class="col">
                <h4>Address:</h4>
                <p>{{user.address.line1}}</p>
                <p>{{user.address.line2}}</p>
                <p>{{user.address.line3}}</p>
                <p>{{user.address.eircode}}</p>

            </div>
            {{#if user.paymentDetails.length}}  
            <div class="col">
                <h4>Payment Details:</h4>
                <p>{{user.paymentDetails.name}}</p>
                <p>{{user.paymentDetails.number}}</p>
                <p>{{user.paymentDetails.expiry}}</p>
                <p>{{user.paymentDetails.code}}</p>
            </div>   
            {{/if}}                   
            
        </div>
    </div>
    
    

    <a href="/logout" id = "logOut"><button  class="btn log-out-button">Log Out</button></a>

</main>